* {
  box-sizing:border-box;
}
/* стиль для шапки и подвала */
header li, footer li, a{
    list-style: none;
    text-decoration: none;
  }

 
  header ul, footer ul{
    color: aliceblue;
    padding: 10px;
  }

  /* стиль для подвала */
  footer {
background-image: url("../img/fonfooter.png");
display: flex;
justify-content: space-around;
  }

  footer p{
    display: flex;
    align-items: center;
  }
  footer a:hover{
    text-decoration: underline;
    font-weight: bold;
  }
  header a:hover{
    color:#4CAF50;
  background-color: #fff;  
  }
.li_footer{
  border-bottom: 2px solid #ffffff;
}
/* стиль для шапки */
  header{
    background-image: url("../img/fonheader.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 75%;
  }
  .logomain{
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
  }
  .logomain img{
    width: 6%;
    margin: 10px;
  }
  .navigate{
    text-align: right;
    margin-left: auto;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    margin-right: 40%;
    font-size: 18px;
  }
 a{
    color: aliceblue; 
 }
 .left{
  margin-right: 20%;
  text-decoration: none !important;
}

.go{
  line-height: 300%;
  color: white;
  width: 550px;
  margin-top: 5%;
margin-left: 10%;
margin-right: auto 
}
 /* для главной и справочника */
h1 {
    font-size: 36px;
    text-align: center;
    color: navy;
    margin-top: 50px;
    animation: fade-in 2s ease-in;
    margin-bottom: 20px;
}
.content_index{
  display: flex;
  justify-content: space-around;
  padding: 0 10px 20px 50px;
}
.paragraph{
  height: 460px;
  margin-top: 40px;
  margin-right: 10px;
  line-height: 300%;
  border: 4px solid #ce4e5f;
  padding: 18px;
}

.content_main{
  width: 70%;
}

/* Стили для подзаголовков */
main h2 {
    font-size: 20px;
    color: #ce4e5f;
    margin-top: 30px;
    animation: slide-in 2s ease-out;
}

/* Стили для основного текста */
main p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fade-in 2s ease-out;
}

/* Анимация: появление текста сверху вниз */
@keyframes slide-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
   
  }
  
  .property {
    display: flex;
    margin-bottom: 20px;
  }
  
  .name {
    flex-grow: 1;
    max-width: 200px;
    font-weight: bold;
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 20px;
    }
    .value {
      display: none;
    }
  }

/* для 1 игры */
/* стили основного блока */
.wrap {
  /* устанавливаем относительное позиционирование */
  position: relative;
  /* высота элементов */
  height: 100%;
  /* минимальная высота и отступы */
  min-height: 500px;
  padding-bottom: 20px;
  margin: 20px 0 0 60px;
  
}
.wrap p{
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fade-in 2s ease-out;
}
/* блок с игрой */
.game {
  /* добавляем трёхмерность для эффекта вращения */
  transform-style: preserve-3d;
  perspective: 500px;
  /* пусть элементы занимают всё доступное им пространство */
  min-height: 100%;
  height: 100%;
 
}


/* стили карточек */
.card {
  /* параметры расположения, высоты и ширины карточки */
  float: left;
  width: 24%;
  height: 32%;
  /* отступы */
  padding: 5px;
  /* выравнивание по центру */
  text-align: center;
  /* подключаем блочные элементы и перспективу */
  display: block;
  perspective: 400px;
  /* добавляем относительное позиционирование */
  position: relative;
  cursor: pointer;
  z-index: 50;
}

/* настройки размера карт при максимальной ширине экрана 800 пикселей */
@media (max-width: 800px) {
  .card {
    width: 30%;
    height: 16.666%;
  }
}

/* обратная сторона карточки */
.card .inside {
/* содержимое занимает весь размер карточки */
  width: 100%;
  height: 100%;
  display: block;
  /* анимация переворачивания */
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  /* у лицевой стороны будет белый фон */
  background: white;
}

/* общие настройки для обеих сторон карточки */
.card .front, .card .back {
  /* рисуем границу */
  border: 1px solid black;
  /* прячем обратную сторону */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* абсолютное позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* размеры и отступ */
  width: 100%;
  height: 100%;
  padding: 10px;
  
}
.front img{
width: 600px;
}
.back img{
  width: 30%;
  height: 80%;
  padding-top: 20px;
}
/* настройки изображения на лицевой и обратной стороне */
.card .front img, .card .back img {
  /* картинка занимает всю ширину */
  max-width: 100%;
  /* отображаем как блочный элемент, без отступов */
  display: block;
  margin: 0 auto;
  max-height: 100%;
  
}

/* настройки лицевой стороны */
.card .front {
  /* переворачиваем карточку обложкой вверх */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* настройки при максимальной ширине экрана 800 пикселей */
@media (max-width: 800px) {
  .card .front {
    padding: 5px;
  }

  .card .back {
    padding: 0px;
  }
}

  /* запускаем анимацию переворачивания при клике на карточку */
.card .inside.picked, .card .inside.matched {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

/* задаём ключевые кадры анимации совпадения */
@keyframes matchAnim {
  0% {
  /*  зелёный фон */
    background: #bcffcc;
  }
  100% {
  /*  белый фон  */
    backgroud: white;
  }
}

/* и делаем то же самое для движка WebKit */
@-webkit-keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}

  /* анимация совпадения пары */
.card .inside.matched {
  -webkit-animation: 1s matchAnim ease-in-out;
          animation: 1s matchAnim ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}


  /* для 2 игры */
  html, body {
    min-width: 1280px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;

  }
  .all_content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  main{
    flex: 1 1 auto;
  }
  h1 {
    text-align: center;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .gameboard {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    position: relative;
  }
  #game-board{
    background-image: url("../img/fonplay2.png");
  }
  .square {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: margin-right 10s ease-in-out;
  }

  form {
    margin: 20px 0;
   
  }
  
  label, input, button, .btn_header{
    font-size: 20px;
  }
  
  button, .btn_header{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  .error_message{
    height: 10px;
    margin-left: 10px;
  }
  button:hover {
    background-color: #3e8e41;
  }

  
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .gameboard {
      width: 200px;
      height: 200px;
    }
    .square {
      width: 30px;
      height: 30px;
    }
  }

  .vivod{
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
.play2 {

  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.play2 h1 {
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.gameboard {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
.game-container{
  padding: 20px;
  display: flex;
}
.game-form-block{
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.game-command-field{
  margin-bottom: 10px;
  width: 100px;
}
#game-result{
  display: none;
}
.square {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}



label, input, button {

  font-size: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3e8e41;
}




@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .gameboard {
    width: 200px;
    height: 200px;
  }
  .square {
    width: 30px;
    height: 30px;
  }
}

  /* для 3 игры */
  .quiz-container {
    max-width: 700px;
    min-height: 497px;
    background-image: url(../img/fonplay3.jpg);
    margin: 30px auto;
    border-radius: 10px;
    padding: 25px; 
  }
  
  .question-number h3, .options div:hover  {
    border-bottom: 1px solid #ccc;
  }
  
  #question {
    font-size: 24px;
    color: white;

    padding: 15px 0;
    margin-bottom: 10px;
  }
  
  .options {

    margin-bottom: 15px;
  }
  
  .options div {
    background-color: #a0d4fe;
    border:solid 2px white;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  
  


  
  .options div.correct {
    color: #ffffff;
    background-color: green;
  }
  
  .options div.wrong {
    color: #ffffff;
    background-color: red;
  }
  
  .options div.disabled {
    pointer-events: none;
  }
  
  .button #btn-next {
    padding: 10px 50px;
    background-color: navy;
    font-size: 18px;
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
  }
  
  .button #btn-next:hover {
    background-color: navy;
  }
  
  #answers-tracker {
    border-top: 1px solid #cccccc;
    padding-top: 15px;
  }
  
  #answers-tracker div{
    height:  40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #answers-tracker div.correct {
    background-color: green;
  }
  
  #answers-tracker div.wrong {
    background-color: red;
  }
  
  .quiz-over-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .quiz-over-modal.active {
    display: flex;
  }
  
  .quiz-over-modal .content {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    flex-basis: 700px;
    max-width: 700px;
    color: #ffffff;
    text-align: center;
  }
  
  .quiz-over-modal .content h1 {
    font-size: 36px;
    margin: 0 0 20px;
  }
  
  .quiz-over-modal .content button {
    padding: 15px 50px;
    border: none;
    background-color: green;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
  }
  
  .quiz-over-modal .content button:hover {
    background-color: #ff9900b4;
  }
  
  /* для 3 игры */
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .gameboard {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    position: relative;
  }
  .game-container{
    padding: 20px;
    display: flex;
  }
  .game-form-block{
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .game-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .game-command-field{
    margin-bottom: 10px;
    width: 220px;
    height: 50px;
  }
  #game-result{
    display: none;
  }
  ul{
    margin-left: 10px;
  }
  .square {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  
  label, input, button {

    font-size: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .gameboard {
      width: 200px;
      height: 200px;
    }
    .square {
      width: 30px;
      height: 30px;
    }
  }

  